:local(.avatarDisplay) {
  text-align: center;
  padding-top: 20px;

  img {
    width: 200px;
    border: 2px solid white;
  }

  button.edit-icon {
    border: none;
    position: absolute;
    font-size: 1.5em;
  }
}