:local(.profile) {
  text-align: center;
  color: white;

  .profile_avatar {
    width: 200px;
    margin-left: auto;
    margin-right: auto;


  }

  .name {
    font-size: 2.5em
  }
    
  h3 {
    text-align: center; 
    font-size: 1.5em;
  }

  button {
    margin: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 2em;
    padding: .2em;
    transition: all .3s ease;
  }

  button:hover {
    background: #FF6138;
  }
  
}  