:local(.profile) {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
    

  button {
    margin: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 2em;
    padding: .2em;
    transition: all .3s ease;
  }

  button:hover {
    background: #FF6138;
  }
  
}  