:local(.leader_display) {
 

    text-align: center;
  
    .leader_table {
    margin-left: auto;
    margin-right: auto;

    }
  thead {
    text-align: center;
   
    border: 1px solid black;
    height: 40px;
    background-color: #f6c243;; 
  }
  
}