html {
  height: 100%;
  background-image: linear-gradient( #323643, #606470);
  /* background-image: url('../assets/battlefield.jpg'); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Metamorphous', cursive;
}

button {
  font-family: 'Metamorphous', cursive;

}