html {
  height: 100vh;
  overflow: hidden;
  background: #f6c243;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
}

button {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 700;
}