:local(.header) {
height: 8vh;

  section {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 1em;
  }

  span {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: .5em;
    text-align: right;
  }

  ul {
    padding: 0;
    height: 100%;
    display: flex;
    font-size: .7em;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }


}