:local(.home) {


  display: grid;
  height: 90vh;
  grid-template: 40vh auto / 100%;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  hgroup {
    width: 60%;
    justify-self: center;
    align-self: center;
  }

  h1 {
    width: auto;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding: 20px 20px;
    letter-spacing: .2em;
    font-size: 2em;
    text-shadow: 2px 2px 8px black;
  }

  .rules {
    text-align: center;
    padding: 0px 50px;
  }

  ul {
    padding: 0;
    margin-top: 30px;
    list-style-type: none;
  }

  .buttons {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  button {
    margin: 10px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 2em;
    padding: .2em;
    width: 7.5em;
    transition: all .3s ease;
  }

  button:hover {
    background: #FF6138;
  }
}