:local(.avatar) {
  
  grid-area: avatar;
  
  img {
    width: 80px;
    border-radius: 100px;
    border: 2px solid white;
  }

  span {
    position: absolute;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5em;
  }

  p {
    position: absolute;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    text-shadow: 3px 3px 10px black;
    z-index: 3;
  }
}