:local(.player) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 100%;
    
  }

  img.opponent {
    transform: scaleX(-1)
  }

  p {
    display: grid;
    grid-template: 1fr 1fr / repeat(5, 1fr);
  }

  i {
    color: #FF570C;
  }

  .move {
    width: 100%;
    height: 300px;
    border: 1px solid black;

  }
  .name-area {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}