:local(.player) {
  display: grid;
  grid-template: min-content 1fr / min-content 1fr auto;
  grid-template-areas:
    "username message message"
    "avatar hand played";
  height: 18vh;

  h2 {
    grid-area: username;
    font-size: 1em;
  }

  .cardCanBeFlipped {
    border: 3px solid yellow;
  }

  .hand {
    grid-area: hand;
    display: flex;
    align-items: center;
  }
  .played {
    grid-area: played;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

}