:local(.chat_display) {
  height: 40vh;
  overflow-y: auto;
  border: 2px solid white;
  padding: 5px;
  margin: 10px 5px 5px 5px;
  color: white;
  font-size: 1.3em;
  background-color: rgba(0, 0, 0, .75);

  .chatName {
    color: #FF6138;
    font-weight: bold;
  }
}