:local(.chatroom) {

  .chat-form {
    margin: 5px;
  }

  .chat-field {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    text-align: center;
    height: 40px;
    width: 300px;
    border-radius: 100px;
    border: none;
    margin-right: 2px;
  }

  .chat-button {
    background-color:#FF6138;
    border-radius: 100px;
    height: 40px;
  }

}