:local(.chatroom) {

  .chat-form {
    margin: 5px;
    display: flex;
  }

  .chat-field {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.5em;
    height: 40px;
    width: 100%;
    border-radius: 100px;
    border: none;
    margin-right: 7px;
    padding-left: 1em;
  }

  .chat-button {
    background-color:#FF6138;
    /* border-radius: 100px; */
    border: 1px solid white;
    height: 40px;
  }
  @media only screen and (min-width: 768px) {
    grid-area: "chat";
    grid-column-start: 2;
    grid-column-end: span chat;
    height: 75vh;
  }
  
}