:local(.lobby) {
  button {
    background: #FF570C;
    border: none;
    font-size: 1.5em;
    margin-bottom: 50px;
    padding: 6px;
  }

  button:hover {
    background: white;
  }

  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-template-areas: "queues chat chat";
  }
}