:local(.playerDisplay) {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  color: black;
  font-size: 1.5em;
  ul {
    list-style: none;
  }
  img {
    height: 200px;
    width: 200px;
    background: black;
    border-radius: 1.6em;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid #FF570C;
    color: #FF570C
  }

  h3 {
    font-size: 1em;
  }

  .playerInfo {
    text-align: left;
  }
}