:local(.queueForm) {
  text-align: center;

  section {
    align-items: center;
    color: black;
    grid-area: queue;
    grid-column-start: 1;
    grid-column-end: span queue;
    
  }
  section > article {
    align-items: center;
    border: 2px solid white;
    background: none;
    color: white;
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    transition: 200ms;
  }

  /* section > article:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 200ms;
  } */

  section > article > div > p {
    font-size: .5em;
  }

  
  section > .queueSelected {
    background-color: #FF6138;
    transition: 200ms;
  }

  @media only screen and (min-width: 768px) {
    grid-area: "queues";
    section > article {
      height: 25.75vh;
      flex-direction: column-reverse;
      justify-content: center;
    }

    section > article > div > p {
      font-size: .75em;
    }
  }
}