:local(.queueForm) {
  text-align: center;

  section {
    align-items: center;
    color: black;
    grid-area: queue;
    grid-column-start: 1;
    grid-column-end: span queue;
    
  }
  section > article > div {
    align-items: center;
    border: 2px solid white;
    background: none;
    color: white;
    display: block;
    font-size: 2.5em;
    justify-content: center;
    margin: 10px 5px 5px 5px;
    padding: 5px;
    transition: 200ms;
  }
  
  section > article > .queueSelected {
    background-color: #FF6138;
    transition: 200ms;
  }

}