:local(.credentials) {
  text-align: center;
  button {
    margin: 10px;
    border: 1px solid white;
    border-radius: 5%;
    background: none;
    color: white;
    font-size: 2em;
    padding: .2em;
    width: 7.5em;
    transition: all .3s ease;
  }

  button:hover {
    background: #FF6138;
  }

  
  
}